.MovieCard{
    width: 454px;
    height: 281px;
    margin-bottom: 32px;
    display: flex;
    flex-direction: row;
    box-shadow: 0.4em 0.4em 5px rgba(122,122,122,0.5);
}

.MovieCard__picture{
    width: 183px;
    height: 100%;
    object-fit: cover;
}

.MovieCard__picture_hidden{
    display: none;
}

.MovieCard__infoBlock{
    width: 239px;
    height: 262px;
    padding: 12px 9px 10px 20px ;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.MovieCard__header{
    max-height: 57px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.MovieCard__name{
}

.MovieCard__rank{
    min-width: 30px;
    height: 30px;
    border-radius: 30px;
    font-size: 12px;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.colorRed{
    border: 2px solid #E90000;
}

.colorOrange{
    border: 2px solid #E97E00;
}

.colorYellow{
    border: 2px solid #E9D100;
}

.colorGreen{
    border: 2px solid #66E900;
}

.MovieCard__data{
    text-align: start;
}

.MovieCard__genreList{
    flex-wrap: wrap;
    max-width: 219px;
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: 0;
}

.MovieCard__genre{
    margin-top: 2px;
    float: left;
    display: inline;
    background-color: #d3cdbc;
    font-size: 10px;
    border-radius: 5px;
    list-style-type: none;
    padding: 2px;
    margin-right: 8px;
}

.MovieCard__info{
    height: 145px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.MovieCard__description{
    margin: 5px 0 0 0;
    font-size: 12px;
    line-height: 22px;
    text-align: start;
    max-height: 130px;
    overflow:hidden;
}

.MovieCard__star{
  font-size: 14px;
  margin-top: 5px;
  margin-bottom: 2px;
}
